body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.para{
    color: aquamarine;
    font-size: 16px;
}
.header-2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}
.header-3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 21px;
}